html * {
	vertical-align: top;
}

body {
	/*padding: 0;*/
	margin: 0;
	font-family: 'Oswald' serif;
	font-size: 18px;
	font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', serif;
}

nav {
	display: inline-block;
	font: bolder;
}

p {
	color: #5e686f;
	font-family: 'Asap';
}

.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}


.header	{
	width: 100%;
	height: 523px;
	background: #106db3;
	background-size: 100% 523px;
	background-image: url(http://bgfons.com/upload/waves_texture2418.jpg);
	box-shadow: inset 0px 0px 0 2000px rgba(17,117,192,0.8 );
}

.company-name {
	display: inline-block;
	padding-top: 	22px;
	color: #083452;
	font-family: 'Asap';
	margin-left: 29px;
	font-size: 17px;
}

.top-nav {
	font-family: 'Oswald' serif;
	font-size: 18px;
	color: #083452;
	display: inline-block;
	list-style: none;
	position: absolute;
	right: 0;
	margin: 17px 20px 0 0;
}

.about {
	display: inline-block;
	text-transform: uppercase;
}

.search {
	display: inline-block;
	margin-left: 10px;
	text-transform: uppercase;
}

.container-2 {
	padding-top: 184px;
	width: 960px;
	margin: 0 auto;
}

.main-company-name {
	text-align: center;
	width: 960px;
	margin: 0 auto;
	font-size: 107px;
	color: white;
	font-family: 'PT Sans Narrow';
	text-shadow: 1px 1px 3px #242F48;
	letter-spacing: 9px;
	line-height: .8;
}

.sub-title {
	text-align: center;
	font-size: 15px;
	letter-spacing: 2px;
	color: #083452;
	font-family: 'Asap';
	font-weight: bolder;
	margin-top: 3px;
}

.container-3 {
	width: 960px;
	margin: 0 auto;
}

.main-body {
	display: inline-block;
	font-size: 17px;
	width: 65%;
	height: 1000px;
}

.fantastic {
	font-weight: bolder;
	color: #083452;
	font-family: 'Oswald';
	font-size: 31px;
	padding-top: 20px;
	line-height: 70px;
	margin-bottom: 67px;
}

.1st-paragraph {
	padding-top: 0;
	margin-top: 15px;
}

blockquote {
	color: #106db3;
}

.r-side-body {
	position: relative;
	display: inline-block;
	width: 34%;
	height: 1000px;
}

.side-body-1 {
	padding-top: 83px;
	text-align: center;
}

.anne-marie {
	margin-top: 12px;
	text-align: center;
	font-family: 'Asap';
	color: #106db3;
	font-size: 17px;
}

.contact-anne {
	position: absolute;
	width: 100%;
	margin: auto;
	/*display: inline-block;*/
	text-align: center;
	font-family: 'Asap';
	font-size: 13px;
	color: #d3d3d3;
	padding-top: 3px;
}

.side-body-2 {
	padding-top: 71px;
	text-align: center;
}
	
.side-body-3 {
	text-align: left;
	padding-top: 60px;
	margin-left: 23px;
}

h3 {
	color: #106db3;
}

.side-bar-text p {
	color: #a3b3bf; 
}

.below-body {
	border-top: 1px #5e686f;
	width: 100%;
	height: 169px;
}

.container-4 {
	display: inline-block;
	width: 100%;
	height: 427px;
	position: relative;
}

.footer-1 {
	float: left;
	position: absolute;
	width: 25%;
	height: 330px;
	background: #106db3;
}

.footer-2 {
	float: left;
	width: 25%;
	height: 330px;
	display: inline-block;
	background: #d3d3d3;
}

.footer-3 {
	float: left;
	width: 25%;
	height: 330px;
	background: #106db3;
}

.footer-4 {
	float: left;
	width: 25%;
	height: 330px;
	background: #106db3;
}

.footer-nav {
	width: 100%;
	height: 97px;
	background: #083452;
}



 

	
	
