html * {
	vertical-align: top;
}

body {
	/*padding: 0;*/
	margin: 0;
	font-family: 'Oswald' serif;
	font-size: 18px;
	font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', serif;
}

nav {
	display: inline-block;
	font: bolder;
}

p {
	color: #5e686f;
	font-family: 'Asap';
}

.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}


.header	{
	width: 100%;
	height: 523px;
	background: #106db3;
	background-size: 100% 523px;
	background-image: url(http://bgfons.com/upload/waves_texture2418.jpg);
}

.overlay {
	background: rgba(16, 109, 179, 0.72);
	height: 523px;
}

.company-name {
	display: inline-block;
	padding-top: 	22px;
	color: #083452;
	font-family: 'Asap';
	margin-left: 29px;
	font-size: 17px;
}

.top-nav {
	font-family: 'Oswald' serif;
	font-size: 18px;
	color: #083452;
	display: inline-block;
	list-style: none;
	position: absolute;
	right: 0;
	margin: 17px 20px 0 0;
}

.about {
	display: inline-block;
	text-transform: uppercase;
}

.search {
	display: inline-block;
	margin-left: 10px;
	text-transform: uppercase;
}

.container-2 {
	padding-top: 184px;
	width: 960px;
	margin: 0 auto;
}

.main-company-name {
	text-align: center;
	width: 960px;
	margin: 0 auto;
	font-size: 107px;
	color: white;
	font-family: 'PT Sans Narrow';
	text-shadow: 1px 1px 3px #242F48;
	letter-spacing: 9px;
	line-height: .8;
}

.sub-title {
	text-align: center;
	font-size: 15px;
	letter-spacing: 2px;
	color: #083452;
	font-family: 'Asap';
	font-weight: bolder;
	margin-top: 3px;
}

.container-3 {
	width: 960px;
	margin: 0 auto;
}

.main-body {
	display: inline-block;
	font-size: 17px;
	width: 65%;
	height: 1000px;
}

.fantastic {
	font-weight: bolder;
	color: #083452;
	font-family: 'Oswald';
	font-size: 31px;
	padding-top: 20px;
	line-height: 70px;
	margin-bottom: -29px;
	display: inline-block;
}

.fantastic img {	
    width: 22px;  
    height: 22px;
}

.fantastic h1 {
	margin-bottom: 7px;
}

.author-info {
	font-family: 'Asap';
	font-size: 13px;
	color: #106db3;
	display: inline-block;
	line-height: 28px;
}

.article-date {
	display: inline-block;
	color: #a3b3bf;
	font-size: 13px;
	font-family: 'Asap';
	line-height: 29px;
}

.article-date span {
	text-decoration: underline;
}

.main-body p {
	line-height: 26px;
	margin-bottom: 26px;
}

.quote {
	border-left: 2px solid #d3d3d3;
	padding-left: 10px;
	margin: -6px 0px 28px 10px;
	height: 51px;
	padding-top: 5px;
}

blockquote {
	color: #106db3;
	font-size: 28px;
	font-weight: lighter;
	font-family: 'Asap';
	margin: 12px 0px 0px 8px;
} 
	

.r-side-body {
	position: relative;
	display: inline-block;
	width: 34%;
	height: 1000px;
	margin-left: 5px;
}

.side-body-1 {
	padding-top: 83px;
	text-align: center;
}

.anne-marie {
	margin-top: 12px;
	text-align: center;
	font-family: 'Asap';
	color: #106db3;
	font-size: 17px;
}

.contact-anne {
	position: absolute;
	width: 100%;
	margin: auto;
	/*display: inline-block;*/
	text-align: center;
	font-family: 'Asap';
	font-size: 13px;
	color: #d3d3d3;
	padding-top: 3px;
}

.side-body-2 {
	padding-top: 71px;
	text-align: right;
	display: block;
}

.side-body-2 span {
	font-size: 14px;
	font-family: 'Asap';
	color: #a3b3bf;
	text-decoration: underline;
	display: block;
	padding-top: 8px;
}
	
.side-body-3 {
	text-align: left;
	padding-top: 27px;
	margin-left: 47px;
}

h3 {
	color: #106db3;
	font-size: 18px;
	margin-bottom: 3px;
}

.side-bar-text p {
	color: #a3b3bf;
	font-size: 14px;
	font-weight: lighter;
	font-family: 'Asap';
	line-height: 24px; 
	margin-top: 0px;
}

.below-body {
	border-top: 1px solid #d3d3d3;
	width: 100%;
	height: 146px;
	text-align: center;
	font-family: 'Oswald';
	font-size: 62px;
	font-weight: bold;
	color: #083452;
}

.below-body span {
	display: block;
	padding-top: 24px;
}

/*.buttons {
	width: 462px;
	height: 32px;
	font-family: 'Asap';
	font-size: 12px;
	color: white;
	display: inline-block;
}*/

.container-4 {
	/*display: inline-block;*/
	width: 100%;
	height: 427px;
	position: relative;
	/*border: 1px. solid black;*/
}

.footer-1 {
	float: left;
	width: 25%;
	height: 330px;
	background-image: url(http://voiceofsandiego.org/wp-content/uploads/6f4af864-56c6-5ac0-8966-91b35602f9ee.image.jpg);
	font-family: 'Oswald';
	font-size: 28px;
	color: #083452;
}

.footer-overlay {
	float: left;
	width: 100%;
	height: 330px;
	background: rgba(16, 109, 179, 0.72);
}

.footer-1 span {
	bottom: 15px;
	margin-left: 19px;
	margin-right: 20px;
	margin-bottom: 104px;
	position: absolute;
}

.footer-overlay:hover {
	color: #fff;
	background: rgba(16, 109, 179, 0.0);
}

.footer-2 {
	float: left;
	width: 25%;
	height: 330px;
	background-image: url(http://blogs.citypages.com/food/beer.flight%20400x300.jpg);
	font-family: 'Oswald';
	font-size: 28px;
	color: #083452;
}

.footer-2 span {
	position: absolute;
	bottom: 119px;
	margin-left: 19px;
	margin-right: 20px;
	/*margin-bottom: 104px;*/
}

.footer-3 {
	float: left;
	width: 25%;
	height: 330px;
	background-image: url(http://images.contactmusic.com/newsimages/zach_galifianakis_627199.jpg);
	font-family: 'Oswald';
	font-size: 28px;
	color: #083452;
	position: relative;
}

.footer-3 span {
	position: absolute;
	bottom: 114px;
	margin-left: 19px;
	margin-right: 20px;
	position: absolute;
	bottom: 22px;
}

.footer-4 {
	float: left;
	width: 25%;
	height: 330px;
	background-image: url(http://loriannryan.zenfolio.com/img/s3/v40/p334229174-3.jpg);
	font-family: 'Oswald';
	font-size: 28px;
	color: #083452;
}

.footer-4 span {
	position: absolute;
	bottom: 119px;
	margin-left: 19px;
	margin-right: 20px;
}
.footer-nav {
	width: 100%;
	height: 97px;
	background: #083452;
	display: inline-block;
	vertical-align: bottom;
}

.tiy {
	display: inline-block;
	padding-top: 27px;
	margin-left: 166px;
}

.footer-nav span {
	font-family: 'Asap';
	font-size: 14px;
	color: #a3b3bf;
	display: inline-block;
	padding-top: 40px;
	margin-left: 8px;
}

.footer-nav li {
	font-family: 'Asap';
	font-size: 14px;
	color: #a3b3bf;
	display: inline-block;
	position: absolute;
	padding-top: 40px;
	margin-left: 293px;
}



 

	
	
